/* basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: 'Cairo', sans-serif ;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  transition: all 0.3s;
  color: #00ffd5;
}


a:hover {
  color: #000000 !important;
  transform: scale(1.05);
}

.lang-toggle {
  background: #00ffd5;
  color: #000;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
  position: fixed;
  top: 120px;
  left: 20px;
  z-index: 10000;
}

.navbar {
  width: 100%;
  background-color: #141414;
  box-shadow: 0 0 10px rgba(0, 255, 213, 0.1);
  padding-top: 30px;
  overflow-x: hidden;
}

.navbar-toggler-icon{
  filter: invert(1);
}

.nav-link {
  color: #ccc !important;
  margin-right: 15px;
  transition: all 0.3s;
  overflow-x: hidden;

}

.nav-link:hover {
  color: #00ffd5 !important;
}

.btn-creative {
  background: #00ffd5;
  color: #000;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn-creative:hover {
  background: #00bfa6;
  color: rgb(255, 255, 255);
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  background-color: #ffffff;
  color: #000;
}

footer {
background: #111;
padding: 40px 0;
text-align: center;
color: #aaa;
}